<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List of the best artists in hte worl</title>
</head>
<body>
	<h1>Artists</h1>
	<ul>
		<% artists.forEach(function(artist){ %>
		<li>
			<a href="artists/<%=artist._id%>">
			<%=artist.name%>
			</a>
		</li>
		<!-- <li><a href="artists/<%=artists._id%>"  <%=artist%> </a></li> -->
		 <% }) %>
	</ul>
</body>
</html>